@model IEnumerable<PollingSystemTest_01.Models.PollQuestion>
@{
    ViewData["Title"] = "Home Page";
}
<div style="display:flex">
    @if (@User.IsInRole("Admin") == true)
    {
        <h4 style="padding-right: 1rem; font-style: italic"><a class="text-dark" asp-area="" asp-controller="Home" asp-action="CreateQuestion">Create Poll</a></h4>

        <h4 style="font-style: italic"><a class="text-dark" asp-area="" asp-controller="Home" asp-action="AssignRole">Assign Role</a></h4>
    }
</div>

<h1>Current Polls</h1>
@if (@Model.Count() > 0)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td>
                    Date Created
                </td>
                <td>Poll Result</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOC)
                </td>
                <td>
                    @if (@item.disPlayPercentage)
                    {
                        <a asp-action="QuestionsDetail" asp-route-qId="@item.Id">Result</a>
                    }
                </td>
                <td>
                    @if (@item.Votes.Where(x => x.User.Email == @ViewBag.CurrentUser).Count() > 0 || User.IsInRole("Admin"))
                    {
                        <a asp-action="QuestionsDetail" asp-route-qId="@item.Id">View Poll</a>
                    }
                    else
                    {
                        <a asp-action="QuestionsDetail" asp-route-qId="@item.Id">Take Poll</a>
                    }
                </td>
                <td>
                    @if (ViewBag.role != null)
                    {
                        <form asp-action="Index" method="Post">
                            @foreach (var itemRole in ViewBag.role)
                            {
                                @if (itemRole == "Admin")
                                {
                                    <button type="submit" asp-route-QId="@item.Id">Delete</button>
                                }
                            }

                        </form>
                    }


                </td>
            </tr>
                }
        </tbody>
    </table>
    <div>
        <span>Sort By:</span>
        <span>@Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSortParm })</span>
    </div>
    }
    else {
        <h4>Sorry!, No polls to take at this time.</h4>
    }
