@model PollingSystemTest_01.Models.PollQuestion

@{
    ViewData["Title"] = "Questions Detail";
}

<h1>Question Detail</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PollOptions)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @if (Model.VoteCount > 0)
                {
                    // Displays Most voted option for user who created the poll
                    @foreach (var t in Model.PollOptions)
                    {
                        if (ViewBag.userId == t.UserId)
                        {
                            if (t.MostVoted == true)
                            {
                                <li><span>Most Voted Answer</span>:&nbsp;@t.Description</li>
                            }
                        }

                    }

                    // Displays the option to vote for polls with activve votes and the current vote count per votes for the user whoo created the poll
                    @foreach (var t in Model.PollOptions)
                    {
                        // Checking if it is not the poll creator who is currently logged in
                        @if (ViewBag.userId != @t.UserId)
                        {
                            // Display only description if user has voted already else add ability to vote
                            if (Model.Votes.Where(x => x.User.Email == User.Identity.Name).Count() > 0)
                            {
                                <li>@t.Description</li>
                            }
                            else
                            {
                                <li>@t.Description - y<a asp-action="VoteOption" asp-route-VOId="@t.Id">Vote</a></li>
                            }

                        }
                        else
                        {
                            <li>@t.Description - <span>@t.PollOptionVoteCount&nbsp;Votes</span></li>
                        }
                    }
                }
                else
                {

                    @foreach (var t in Model.PollOptions)
                    {
                        @if (@t.Description != null)
                        {
                            @if (ViewBag.userId != @t.UserId)
                            {

                                <li>@t.Description - other<a asp-action="VoteOption" asp-route-VOId="@t.Id">Vote</a></li>
                            }
                            else
                            {
                                <li>@t.Description</li>
                            }
                        }
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
