@model PollingSystemTest_01.Models.PollQuestion

@{
    ViewData["Title"] = "Questions Detail";
}

<h1>Question Detail</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PollOptions)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @if (Model.PollOptions.Count() > 0)
                {
                @foreach (var t in Model.PollOptions)
                    {
                        // Displays Most voted option for user who created the poll
                        if (User.IsInRole("Admin") == true)
                        {
                            if (ViewBag.largestOptionVote == t.PollOptionVoteCount)
                            {
                <li><span style="font-weight:bold">Most Voted Answer</span>:&nbsp;@t.Description</li>
                <li><a asp-action="PublishVotes" asp-route-OId="@t.Id">Publish Result</a></li>
                            }
                        }
                @if (@t.Description != null)
                        {
                @if (ViewBag.userId != @t.UserId)
                            {
                @if (Model.Votes.Where(x => x.User.Email == User.Identity.Name).Count() >= 1 || t.MostVoted == true)
                                {
                <li>@t.Description</li>
                                }
                                else
                                {
                <li>@t.Description - <a asp-action="VoteOption" asp-route-VOId="@t.Id">Vote</a></li>
                                }
                            }
                            else
                            {
                <li>@t.Description - <span>@t.PollOptionVoteCount&nbsp;Votes</span></li>
                            }
                        }

                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
